#root {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


* {

  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

header {
  color: red;
  margin-bottom: 10vh;
  
}

footer {
  background-color: red;
  color: white;
  margin-top: 10vh;
  width: 100%;
  height: 10vh;
}

a {
  all: inherit;
  cursor: pointer;

}

.articles {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.article-section-small {
  width: 50vw;
  margin: auto;
  background-color: white;
  box-sizing: border-box;
}

.article-section-small:hover {
  border: 1px solid red;
  box-sizing: border-box;
}

.article-section-small-div-section {
  width: 95%;
  margin: auto;
}

.article-img-small {
  width: 10vw;
}

.topic-section {
  padding: 1vw;
  background-color: white;
  margin-bottom: 2vh;
  text-align: left;
  box-sizing: border-box;

}

.topic-section:hover {
  border: red solid 2px;
}

.topics {
  margin-left: 20%;
  margin-right: 20%;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

#header-links-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  width: 20%
}

.header-link {
  display: flex;
}

.header-link:hover {
  text-decoration: underline 2px solid red;
}

.header-home-link {
  text-decoration: none;
  color: red;
  font-size: xx-large;
}

.single-article-title {

  justify-content: space-around;
}

#single-article-body-image {
  margin: 5%;
  display: flex;
  flex-direction: row;
}

#single-article-body {
  text-align: left;
  background-color: white;
  padding: 3%;
  font-size: large;
}

#single-article-image {
  height: 30vh;
  margin-left: 5vw;
}

.vote-button-unclicked {
  color: red;
  background-color: white;
}

.vote-button-clicked {
  color: white;
  background-color: red;
}

.single-comment-content {
  display: flex;
  flex-direction: row;
}

.topics-in-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#user-link {
  
  color: black;
}

#account-icon {
  height: 3vh;
}

#comments-link {
  font-size: larger;
  display: flex;
  gap: 0.3vw;
}

#homepage-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15vh;
  gap: 10vw;
}

#homepage-boxes {
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.homepage-box {
  background-color: white;
  margin: 3vw;
  padding: 2vw;
}

.italic-box {
  font-style: italic
}

.homepage-box-button {
  background-color: white;
  width: 100%;
  font-size: large;
  border: 2px solid black;
}

.homepage-link {
  border: none;
}


