#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

*{
  border: 1px solid black
}

header {
  background-color: red;
  color: white;
}

a {
  all: inherit;
  cursor: pointer
}

.article-section-small {
  width: 50vw;
  margin: auto
}

.article-img-small {
  width: 15vw;
}



nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-links-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-link {
  text-decoration: none;
  color: white
}