#root {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

header {
  color: red;
  margin-bottom: 10vh;
  
}

footer {
  background-color: red;
  color: white;
  margin-top: 10vh;
  width: 100%;
}

a {
  all: inherit;
  cursor: pointer
}

.article-section-small {
  width: 50vw;
  margin: auto;
  margin-top: 5vh;
}

.article-img-small {
  width: 15vw;
}



nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

#header-links-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  width: 20%
}

.header-link:hover {
  text-decoration: underline 2px solid red;
}

.header-home-link {
  text-decoration: none;
  color: red;
  font-size: xx-large;
}

.single-article-title {

  justify-content: space-between;
}

.vote-button-unclicked {
  color: red;
  background-color: white;
}

.vote-button-clicked {
  color: white;
  background-color: red;
}

.single-comment-content {
  display: flex;
  flex-direction: row;
}

.topics-in-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#user-link {
  
  color: black;
}

#account-icon {
  height: 3vh;
}